#header {
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    color: red;
    border-bottom: 2px solid red;
    width: 400px;
    height: auto;
}

#board-container {
    display: flex;
    justify-content: center;
}

#board {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*border-top: 6px solid black;*/
    height: auto;
    width: auto;
}

#box1 {
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    width: 100px;
    height: 100px;
}

#box2 {
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    width: 100px;
    height: 100px;
}

#box3 {
    border-right: 3px solid black;
    border-top: 3px solid black;
    width: 100px;
    height: 100px;
}

#box4 {
    border-right: 3px solid black;
    border-bottom: 3px solid black; 
    border-left: 3px solid black;  
    width: 100px;
    height: 100px;
}

#box5 {
    border: 3px solid black;
    width: 100px;
    height: 100px;
}

#box6 {
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    width: 100px;
    height: 100px;
}

#box7 {
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    width: 100px;
    height: 100px;
}

#box8 {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    width: 100px;
    height: 100px;
}

#box9 {
    border-top: 3px solid black;
    border-left: 3px solid black;
    width: 100px;
    height: 100px;
}

