#header {
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    color: red;
    border-bottom: 2px solid red;
    width: auto;
    height: auto;
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#board-container {
    display: flex;
    justify-content: center;
    height: 900px;
}

#board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: auto;
}

#box1 {
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    width: 300px;
    height: 300px;
}

#box2 {
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    width: 300px;
    height: 300px;
}

#box3 {
    border-right: 3px solid black;
    border-top: 3px solid black;
    width: 300px;
    height: 300px;
}

#box4 {
    border-right: 3px solid black;
    border-bottom: 3px solid black; 
    border-left: 3px solid black;  
    width: 300px;
    height: 300px;
}

#box5 {
    border: 3px solid black;
    width: 300px;
    height: 300px;
}

#box6 {
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    width: 300px;
    height: 300px;
}

#box7 {
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    width: 300px;
    height: 300px;
}

#box8 {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    width: 300px;
    height: 300px;
}

#box9 {
    border-top: 3px solid black;
    border-left: 3px solid black;
    width: 300px;
    height: 300px;
}

#start {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: cornflowerblue;
    padding: 10px 20px 10px 20px;
    background-color: lawngreen;
}
#btn-wrapper {
    
    padding: 50px;
    display: flex;
    justify-content: center;
    margin: 10px 5px 10px 5px;
}
